@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Pixelify+Sans:wght@400..700&display=swap");

html {
  scroll-behavior: smooth;
}

#root {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/ep_naturalwhite.png");
}

footer {
  background-color: grey;
  text-align: center;
  padding: 1em;
}

.navbar-brand {
  font-family: Bruno Ace;
  font-size: 4em !important;
}

.navbar-brand-small {
  color: white;
  font-size: .2em;  
}

/* .navbar {
  margin-bottom: 1em;
} */

.category-border {
  border: solid 1px rgb(236, 236, 236);
  border-radius: 7px;
  padding: .5em;
  margin: 5px;
  margin-bottom: 8px;
  background-color: rgb(243, 242, 242);
}

.expense-border {
  border: solid 1px rgb(236, 236, 236);
  border-radius: 7px;
  padding: .5em;
  padding-bottom: 1px;
  margin: 5px;
  background-color: rgb(243, 242, 242);
}

.expenses {
  max-height: 725px;
  overflow-y: scroll;
}

.pie-chart {
  margin-top: 1em;
}